html {
  scroll-behavior: smooth;
}
.titre {
  width: auto;
  background: #375a7f;
  color: azure;
  height: 5em;
}
.titre h2{
  margin-top:56px;
  padding-top: 15px;
  padding-left: 50px;
}

section {
  height: 100vh;
}
 @media only screen and (max-width: 960px) {
  section {
  height: 200vh;
}

 @media only screen and (max-width: 1440px) {
  section {
  height: 200vh;
}
 }
.card {
  border-radius: 10px;
}
